/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Titillium Web", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Bangers", cursive;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

/* Your code starts here! */
nav {
  display: inline;
}
nav a {
  display: inline-block;
  opacity: 0.5;
  text-align: left;
  color: grey;
  text-decoration: none;
  font-size: 18px;
  width: 14%;
  padding: 10px;
}
.logo {
  vertical-align: bottom;
  width: 14%;
  display: inline-block;
}
h1 {
  padding-bottom: 180px;
  font-size: 102px;
  text-align: center;
  width: 53%;
  display: inline-block;
}
.round {
  vertical-align: bottom;
  width: 35%;
  padding: 20px;
  margin-top: 45px;
  margin-bottom: 10px;
  display: inline-block;
}
footer {
  text-align: center;
}
button {
  display: inline-block;
  background: white;
  width: 150px;
  height: 36px;
  margin-left: 410px;
}
.middle-img {
  display: block;
  align: center;
  width: 100%;
  height: 60%;
}
.line {
  display: block;
  background: black;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid black;
  margin: 1em 0;
  padding: 0;
}
.feat {
  padding: 36px 24px 36px 24px;
  font-size: 24px;
  width: 49%;
  display: inline-block;
}
.about {
  padding: 36px 24px 36px 24px;
  font-size: 24px;
  width: 49%;
  display: inline-block;
}
/* What was I thinking!
.service {
   padding: 36px 24px 36px 24px;
  font-size: 24px;
  width: 32%;
  display: inline-block;
}
.product {
  padding: 36px 24px 36px 24px;
  font-size: 24px;
  width: 32%;
  display: inline-block;
}
.vision {
  padding: 36px 24px 36px 24px;
  font-size: 24px;
  width: 32%;
  display: inline-block;
}
*/
.bottom-container {
    display: flex;
    justify-content: space-between;
    margin-left: 80px;
    margin-right: 80px;
}
.bottom-content {
    flex-basis: 33%;
    font-size: 24px;
    padding: 36px 24px 36px 24px;
}

footer {
  padding-top: 48px; 
}
address {
  padding-top: 48px;
}
address h2 {
  font-size: 24px;
}